
.score {
    text-align: center;
    font-size: 30px;
    color: rgb(255, 184, 253);
}

.picture {
    border-radius: 20px;
    margin-left: 500px;
}

.picture2 {
    border-radius: 20px;
    margin-left: 450px;
}